#form {
  min-width: 600px;
  max-width: 600px;
  height: 100vh;
  margin: 0px;
  background-color: black; 
  color: white;
  padding: 40px;
}
#userbody{
  width: calc(100vh);
  height: 100vh;
  overflow: hidden;
}
.Title {
  min-width: 500px;
  max-width: 500px;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0px;
  padding-bottom: 20px;
  font-weight: bold;
}
#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}
.styleType {
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
}

.styleHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}


.btn{
    font-size: 25px;
}

